body{
    background-color: #e0dfdf;
}

img{
    width: 30px;
    height: 30px;
}

footer{
    background-color: #343a40;
    color: white; 
    margin-top: 2%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h4, h5{
    text-align: center;
}

#boton{
    background-color: #007bff;
    color: white;
    padding: .375rem .75 rem;
    font-size: 1rem;
    border-color: #007bff;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: .25rem;
    font-weight: 400;
    margin-top: 20px;
}

#botonback{
    background-color: #007bff;
    color: white;
    padding: .375rem .75 rem;
    font-size: 1rem;
    border-color: #007bff;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: .25rem;
    font-weight: 400;
    margin-top: 0px;
}

